services:
  movie-api-db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_DB: movie_api_db_v2
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    volumes:
      - movie-api-db-data:/var/lib/postgresql/data
    ports:
      - "5450:5432"

  movie-api-minio:
    image: minio/minio:RELEASE.2024-11-07T00-52-20Z-cpuv1
    command: server /var/lib/minio/data --console-address ":9021"
    environment:
      - MINIO_ROOT_USER=admin
      - MINIO_ROOT_PASSWORD=password
    ports:
      - "9020:9000"
      - "9021:9001"
    volumes:
      - movie-api-storage:/var/lib/minio/data

  movie-api-api:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "9082:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://movie-api-db:5432/movie_api_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: password
    depends_on:
      - movie-api-db

volumes:
  movie-api-storage:
  movie-api-db-data: